$primary: gold;
$dark: #21252b;
@import "bootstrap/scss/bootstrap";
@mixin remove-underline {
  a,
  a:hover,
  a:link,
  a:visited {
    text-decoration: none;
  }
}
@mixin center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title-bg {
  border-radius: 0;
  height: 100vh;
  position: relative;
  background-image: url('background-1 2.jpg');
  background-size: cover;

  .title-container {
    @include center-absolute;
  }

  .display-4 {
    text-align: right;
    font-size: 2em;
    font-family: 'Julius Sans One', sans-serif;
    color: white;
  }
}

.text-raleway {
  font-family: 'Julius Sans One', sans-serif;
}

nav.navbar {
  .btn {
    color: $dark;
    border-color: $dark;

    &:hover {
      border-color: $dark;
      background: darken($light, 20);
    }
  }
  border-bottom: 4px solid $primary;
}

.menu-toggler {
  z-index: 11;
  height: 50px;
  width: 50px;
  line-height: 35px;
  text-align: center;
  color: $primary;
  font-size: 2em;
  position: fixed;
  right: 0;
  top: 0;
  padding: 5px;
  background-color: transparent;
  border-radius: 0 0 0 10px;
  transition: 0.25s ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.5);
  }

  &.show:hover {
    background-color: transparent;
  }

  &::after {
    content: '☰';
  }

  &.show::after {
    content: '✕';
  }
}

.menu-container {
  z-index: 10;
  color: white;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.9);
  position: fixed;
  top: 0;
  left: 100vw;
  transition: 0.5s ease-in-out;

  &.show {
    left: 0;
  }
}

.main-menu {
  font-size: 1.5em;
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);

  p {
    border-bottom: 2px solid $primary;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      padding: 10px;

      &:hover a {
        color: white;
        transform: translateX(-30px);

        &::after {
          width: 30px;
          right: -35px;
        }
      }

      a {
        position: relative;
        color: rgba(255,255,255, 0.75);
        display: inline-block;
        transition: 0.25s ease-in-out;

        &::after {
          position: absolute;
          top: 50%;
          right: 0;
          content: '';
          height: 2px;
          width: 0;
          background: $primary;
          transition: 0.25s ease-in-out;
        }
      }
    }
  }
  @include remove-underline;
}

.row.container-fluid > div {
  height: 150px;
  position: relative;

  img {
    float: left;
    width: 20%;
    max-width: 90px;
    position: relative;
  }

  &:hover {
    background: darken(transparent, 50);
  }

  a {
    p.lead {
      transition: 0.25s ease-in-out;

      span.text-white {
        transition: 0.25s ease-in-out;
      }
    }
    transition: 0.25s ease-in-out;

    &:hover {
      p.lead {
        color: white;

        span.text-white {
          color: $primary !important;
        }
      }
    }
  }
}

.maps-frame {
  border-top: 4px solid $primary;
  width: 100vw;
  height: 500px;

  iframe {
    width: 100%;
    height: 100%;
  }
}

.navbar-brand {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 36pt;
  font-style: bold;
}

.form-inline {
  padding-right: 40px;
}

.d-inline-block.align-top {
  width: 140px;
  height: 60px;
  padding-top: 10px;
}

.display-5 {
  font-size: 6em;
  font-family: 'Julius Sans One', sans-serif;
  font-style: bold;
  text-decoration: underline white !important;
}

.card-deck {
  height: relative;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
 }

 .container-fluid {
   .card {
     position: relative;
     height: calc(100vh - 150px);
     img.specialized {
       position: absolute;
       bottom: 10px;
       right: 10px;
       width: 35%;
     }
   }
   .card-img-top{
     height: 35%;
   }
 }

 img.chisiamo{
   padding-left: 51%;
 }
