.container-fluid.menu-container
  .main-menu.text-right
    p.display-3.text-uppercase Menu
    ul
      li
        a(href='/de') Home
      li
        a(href='/de/works') Lavorazioni
      li
        a(href='/de/who-are-we') Chi Siamo
      li
        a(href='/de/contacts') Contatti
