.container-fluid.menu-container
  .main-menu.text-right
    p.display-3.text-uppercase Menu
    ul
      li
        a(href='/it') Home
      li
        a(href='/it/works') Lavorazioni
      li
        a(href='/it/who-are-we') Chi Siamo
      li
        a(href='/it/contacts') Contatti
