.menu-toggler(onclick='menuToggle()')
nav.navbar.navbar-light.bg-light.justify-content-between
  a.navbar-brand(href='/')
    img.d-inline-block.align-top.mr-3(src='/img/logo/logo.png', width='140', height='60', alt='')
    =header
  form.form-inline
    input.form-control.mr-sm-2(type='search', placeholder='Digita qui..', aria-label='Search')
    button.btn.btn-outline-primary.my-2.my-sm-0(type='submit') Cerca
