extends ../layout

block content
  body.bg-dark
    include includes/main-menu
    include includes/navbar
    .chisiamo
      .photocontainer
      .photocontainer
      .rectangle.container-fluid
        h1.text-white  
          |  La nostra storia 
        p.text-white.px-3.mt-3
          | L’azienda Nidopann nasce nel 1960, impresa artigianle per la produzione di nido d’ape in legno compensato. Il panello immagine dell’azienda, predecessore di tutti gli alveolari presenti in commercio al giorno d’oggi, conserva tutte le piu nobili qualità del legno: componente essenziale per la realizzazione di ogni tipo di arredamento.
        p.text-white.px-3
          | Il nido d’ape in legno, impiegato per la composizione del tamburato, gli assicura una duratura linearità nel tempo oltre a consentire un mantenimento della naturale planarità insieme alla conforme leggerezza. 
        p.text-white.px-3
          | La maglia ovoidale (mm 80 x 50, mentre la misura del compensato è di 2mm) che costituisce  il nido d’ape è composta da due fogli derivati di pioppo da longitudine 10/10 pressati insieme con colle euretiche(E1). Il nostro pannello viene prodotto in ogni misura, di spessore da mm 12 - mm 130 con tolleranze +/- 2-10 , le dimensioni standard sono mm 940 x 250/300 mm, mentre I pacchi vengono realizzati da 0,250 mc. 
        p.text-white.px-3
          | Possibili campi di impiego sono quelli riguardanti il settore dell’arredamento: produzione di porte, armadi, realizzazione di tavoli e pareti.
        p.text-white.px-3
          | Oltre all’immagine  finale che un arredamento raffinato ed elegante può restituire, bisogna valuatre anche le componenti e soprattutto i materiali d’uso che vengono spesso sostituiti con qualcosa di simile ma che non hanno nulla a che vedere con il legno, elemento essenziale e insostituibile nelle nostre case.
