extends layout

block content
  body.bg-dark
    include includes/main-menu
    .menu-toggler(onclick='menuToggle()')
    .title-bg
      .title-container
        img.img(src='img/logo/logo_inv.png', width='900', alt='')
        p.display-4 di Franco Vicini
