doctype html
html
  head
    title #{title}
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(href='https://fonts.googleapis.com/css?family=Raleway|Julius+Sans+One', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/style.min.css')
  body
    .lang-chooser
      if lang == 'it'
        a(href='/en'+path)
          img(src='/img/icons/it.svg' width='50')
      else if lang == 'en'
        a(href='/de'+path)
          img(src='/img/icons/gb.svg' width='50')
      else
        a(href='/en'+path)
          img(src='/img/icons/de.svg' width='50')
    block content
    footer.text-white.text-center  Copyright © Alessandra Vicini 
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
    script(src='/javascripts/all.min.js')
