.container-fluid.menu-container
  .main-menu.text-right
    p.display-3.text-uppercase Menu
    ul
      li
        a(href='/') Home
      li
        a(href='/lavorazioni/') Lavorazioni
      li
        a(href='/chi-siamo/') Chi Siamo
      li
        a(href='/contatti/') Contatti
