extends ../layout

block content
  body.bg-dark
    include includes/main-menu
    include includes/navbar
    .menu-toggler(onclick='menuToggle()')
    .container-fluid.specialize.d-flex.align-items-center
      .card-deck
        .card
          img.card-img-top(src='/img/photos/nidodape.jpg', alt='Card image cap')
          .card-body
            h4.card-title.text-center Production 
            p.card-text
              ul
                li  Honeycomb of poplar plywood
          img.img-fluid.specialized.ml-auto(src='/img/logo/logo.png')
        .card
          img.card-img-top(src='/img/photos/lavorazioni.jpg', alt='Card image cap')
          .card-body
            h4.card-title.text-center Selling and Sectioning
            p.card-text
              ul
                li  Particleboard
                li  Mdf
                li  Multilayer
                li  Melamine Faced Chipboard
          img.img-fluid.specialized.ml-auto(src='/img/logo/logo.png')
        .card
          img.card-img-top(src='/img/photos/lavorazioni1.jpg', alt='Card image cap')
          .card-body
            h4.card-title.text-center Service of
            p.card-text
              ul
                li  Pantograph
                li  Surround
          img.img-fluid.specialized.ml-auto(src='/img/logo/logo.png')
