extends ../layout

block content
  body.bg-dark
    include includes/main-menu
    include includes/navbar
    .chisiamo
      .photocontainer
      .photocontainer
      .rectangle.container-fluid
        h1.text-white  
          |  Unsere Geschikt
        p.text-white.px-3.mt-3
          | The Nidopann company was founded in 1960, a craft company for the production of plywood honeycomb:
          | the pinnacle of the company's production, predecessor of all the honeycombs on the market today, preserves all 
          | the noblest qualities of wood and it is an essential component for the realisation of any type of furniture.
        p.text-white.px-3
          | The wooden honeycomb, used for the composition of the honeycomb, ensures a lasting linearity over
          | time as well as preserving the natural flatness along with its lightness.  
        p.text-white.px-3
          | The inner ovoid chainlink (80 x 50 mm, while the plywood size is 2 mm) which constitutes the honeycomb
          | is composed of two sheets of poplar from longitude 10/10 pressed together with euretic glues (E1).
          | Our panel is produced in all sizes, with a thickness of 12 mm - 130 mm with tolerances ± 2-10 mm,
          | the standard dimensions are 940 x 250/300 mm, while the packs are made from 0.250 m3. 
        p.text-white.px-3
          | Possible fields of application are those concerning the furniture sector: production of doors,
          | wardrobes, creation of tables and walls.
        p.text-white.px-3
          | In addition to the final image that a refined and elegant furnishing can give back, we must also
          | evaluate the components and above all the materials used which are often replaced with something
          | similar but which have nothing to do with wood, an essential and irreplaceable element in our homes.
