extends ../layout

block content
  body.bg-dark
    include includes/main-menu
    include includes/navbar
    .menu-toggler(onclick='menuToggle()')
    .container-fluid.specialize.d-flex.align-items-center
      .card-deck
        .card
          img.card-img-top(src='/img/photos/nidodape.jpg', alt='Card image cap')
          .card-body
            h4.card-title.text-center Produzione 
            p.card-text
              ul
                li  Nido d'ape in legno compensato di pioppo
          img.img-fluid.specialized.ml-auto(src='/img/logo/logo.png')
        .card
          img.card-img-top(src='/img/photos/lavorazioni.jpg', alt='Card image cap')
          .card-body
            h4.card-title.text-center Vendita e Sezionatura 
            p.card-text
              ul
                li  Truciolari
                li  Mdf
                li  Multistrati
                li  Truciolari Nobilitati 
          img.img-fluid.specialized.ml-auto(src='/img/logo/logo.png')
        .card
          img.card-img-top(src='/img/photos/lavorazioni1.jpg', alt='Card image cap')
          .card-body
            h4.card-title.text-center Servizio di
            p.card-text
              ul
                li  Pantografatura 
                li  Bordatura 
          img.img-fluid.specialized.ml-auto(src='/img/logo/logo.png')
