.container-fluid.menu-container
  .main-menu.text-right
    p.display-3.text-uppercase Menu
    ul
      li
        a(href='/en') Home
      li
        a(href='/en/works') Our Products
      li
        a(href='/en/who-are-we') Who we are
      li
        a(href='/en/contacts') Contacts
