.container-fluid.menu-container
  .main-menu.text-right
    p.display-3.text-uppercase Menu
    ul
      li
        a(href='/') Home
      li
        a(href='/lavorazioni/') Our Products
      li
        a(href='/chi-siamo/') Who we are
      li
        a(href='/contatti/') Contacts
